@model SKC_MVC.Models.Grades

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Homeworks" class="control-label"></label>
                <input asp-for="Homeworks" class="form-control" />
                <span asp-validation-for="Homeworks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalExam" class="control-label"></label>
                <input asp-for="FinalExam" class="form-control" />
                <span asp-validation-for="FinalExam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalGrades" class="control-label"></label>
                <input asp-for="TotalGrades" class="form-control" />
                <span asp-validation-for="TotalGrades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam1" class="control-label"></label>
                <input asp-for="Exam1" class="form-control" />
                <span asp-validation-for="Exam1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exam2" class="control-label"></label>
                <input asp-for="Exam2" class="form-control" />
                <span asp-validation-for="Exam2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
